.App {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 30px;
  width: 1024px;
}

.Restaurant__Dishes {
  margin: 0;
  padding: 0;
}

.Restaurant__DishesItem {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  & + & {
    margin-top: 6px;
  }
}

.Restaurant__DishesItemPrice {
  font-weight: 300;
  opacity: 0.6;
  width: 30px;
}

.Restaurant__DishesItemName {
  flex-grow: 1;
  font-weight: 500;
}
